/logs
.idea
/.idea
*.iml
/target
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
# mac
.DS_Store
/**/target/
/**/logs/
/**/.DS_Store
/**/*.iml
.flattened-pom.xml


/**/src/test/java/cn/com/supermonkey/app/module/generate/

/**/test-output/
